* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --curve-md: 16px;

    --first-color: #ffc107;
    --background-primary-color: #f5f5f5;
}

#root {
    width: 100vw;
    height: 100vh;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 70vh;
    width: 25vw;
    display: flex;
    border-radius: var(--curve-md);
    flex-direction: column;
    box-shadow: 0 12px 17px 2px rgba(255, 229, 155, 0.14), 0 5px 22px 4px rgba(255, 229, 155, 0.12), 0 7px 8px -4px rgba(255, 229, 155, 0.20);
}

.card .header {
    border-top-left-radius: var(--curve-md);
    border-top-right-radius: var(--curve-md);

    background: var(--first-color);
    height: 100%;
    width: 100%;
    padding: 32px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    position: relative;
}

.header .nike-logo > img{
    width: 8vw;
}

.header .details{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--background-primary-color);
}

.header .details .title, .body .head .title{
    font-size: 32px;
    text-transform: uppercase;
}

.header .details .description{
    width: 50%;
    text-align: justify;
}

.header .shoe-image{
    position: absolute;
    right: -200px;
    top: -50px;
}

.header .shoe-image > img{
    width: 30rem;
}

.card .body {
    border-bottom-left-radius: var(--curve-md);
    border-bottom-right-radius: var(--curve-md);

    background: var(--background-primary-color);
    height: 100%;
    width: 100%;
    padding: 32px;
}

.body .head{
    display: flex;
    gap: 16px;
    align-items: center;
}

.body .head .badge{
    background-color: #71b280;
    height: auto;
    margin-bottom: 4px;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    color: var(--background-primary-color);
}